<div class="col-xl-3 col-md-3 col-sm-6 col-xs-6 mb-4">
  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/220px-Cat_November_2010-1a.jpg"
      class="card-img-top"
      alt="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/220px-Cat_November_2010-1a.jpg"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">address: {{this.address.zipcode}}</p>
      <p class="card-text">id: {{this.id}}</p>
      <a href="/users/{{this.id}}" class="btn btn-primary">view detail</a>
    </div>
  </div>
</div>