<div class="container">
  <h1 class="text-center my-5"> ABOUT US</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, autem,
    cupiditate ipsam neque at quis laboriosam ratione dolore hic eveniet quia
    praesentium, omnis pariatur laudantium qui nemo necessitatibus sint harum.</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, autem,
    cupiditate ipsam neque at quis laboriosam ratione dolore hic eveniet quia
    praesentium, omnis pariatur laudantium qui nemo necessitatibus sint harum.</p>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, autem,
    cupiditate ipsam neque at quis laboriosam ratione dolore hic eveniet quia
    praesentium, omnis pariatur laudantium qui nemo necessitatibus sint harum.</p>
</div>